# Functions, Scoping, Data Collections 1 & List Comprehensions

## Tasks Today:

<i>Monday Additions (or, and ... if statements)</i>

1) String Manipulation <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) strip() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) title() <br>
2) Working With Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) min() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) max() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) sum() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) sort() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) Copying a List <br>
 &nbsp;&nbsp;&nbsp;&nbsp; f) 'in' keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; g) 'not in' keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; i) Checking an Empty List <br>
 &nbsp;&nbsp;&nbsp;&nbsp; j) Removing Instances with a Loop <br>
3) List Comprehensions <br>
4) Tuples <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) sorted() <br>
5) Functions <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) User-Defined vs. Built-In Functions <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Accepting Parameters <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) Default Parameters <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) Making an Argument Optional <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) Keyword Arguments <br>
 &nbsp;&nbsp;&nbsp;&nbsp; f) Returning Values <br>
 &nbsp;&nbsp;&nbsp;&nbsp; g) *args <br>
 &nbsp;&nbsp;&nbsp;&nbsp; h) Docstring <br>
 &nbsp;&nbsp;&nbsp;&nbsp; i) Using a User Function in a Loop <br>
6) Scope

In [24]:
#Write a function that prompts the user for their birth month and return there birthstone.
#If they input an invalid month tell them to try again
#Assume user inputs an integer number
stones={
    1:"Garnet",
    2:"Amethyst",
    3:"Aquamarine",
    4:"Diamond",
    5:"Emerald",
    6:"Pearl",
    7:"Ruby",
    8:"Peridot",
    9:"Sapphire",
    10:"Opal",
    11:"Topaz",
    12:"Turquoise"
}

def birthStone(month):
    if month >= 1 and month <= 12:
        return f"Your birthstone is: {stones[month]}"
    elif month < 1 or month > 12:
        print("Invalid month, try again!")

month = int(input("Enter your birth month: "))

birthStone(month)

Enter your birth month: 5

'Your birthstone is: Emerald'

### Monday Refreshers

##### Using 'or' in if statements

##### Using 'and' in if statements

##### Using both 'or' and 'and' in if statements

### String Manipulation

##### .lstrip()

In [29]:
# str.lstrip()
# help(str.lstrip)

name = "   Jesus"
name.lstrip()

name = "Jesus"
name.lstrip("J")

'esus'

##### .rstrip()

In [43]:
name = "  Jesse   "
name.rstrip()

''

##### .strip()

In [53]:
name = "  Ese Wey  "
name.strip()

'Ese W'

##### .title()

In [59]:
name = "no mAmeS wAy"
name.title()

'No Mames Way'

### String Exercise <br>
<p>Strip all white space and capitalize every name in the list given</p>

In [60]:
names = ["   coNNor", "max", " EVan ", "JORDAN"]

for name in names:
    print(name.title().strip())

Connor
Max
Evan
Jordan

### Working With Lists

##### min()

In [74]:
da_list = [70, 7, 6, 10, 2]
min(da_list)

2

##### max()

In [64]:
max(da_list)

70

##### sum()

In [65]:
sum(da_list)

95

##### sorted()

In [80]:
# built in function, can work on any iterable
sorted(da_list)

[2, 6, 7, 10, 70]

##### .sort() <br>
<p>Difference between sort and sorted, is that sorted doesn't change original list it returns a copy, while .sort changes the original list</p>

In [85]:
# sort is a method of the list class
da_list = [70, 7, 6, 10, 2]
da_list.sort()
print(da_list)

[2, 6, 7, 10, 70]

##### Copying a List

In [88]:
a_list = [1,2,3,4,5]

n_list = a_list

n_list.append(6)
print(a_list)
print(n_list)

[1, 2, 3, 4, 5, 6]
[1, 2, 3, 4, 5, 6]

In [89]:
# how to copy a list correctly
my_list = [1,2,3,4,5]
my_list2 = my_list[:]

my_list.append(6)
print(my_list)
print(my_list2)

[1, 2, 3, 4, 5, 6]
[1, 2, 3, 4, 5]

##### 'in' keyword

In [90]:
# with a list this is basically a for loop
5 in [1, 2, 3, 4, 5]

True

##### 'not in' keyword

In [ ]:
# opposite of in keyword but works the same

##### Checking an Empty List

In [95]:
my_list = []
if my_list == []:
    print("It's empty")
if len(my_list) == 0:
    print("It's empty")
if not my_list:
    print("It's empty")
if my_list: #most common method
    print("not empty")

It's empty
It's empty
It's empty

##### Removing Instances with a Loop

In [100]:
names = ["Toan", "Tim", "Steve", "McCall", "Anu", "Kyle"]
while "Steve" in names and "Kyle" in names:
    names.remove("Steve")
    names.remove("Kyle")
    print(names)
print(f"list at the end of the loop {names}")

['Toan', 'Tim', 'McCall', 'Anu']
list at the end of the loop ['Toan', 'Tim', 'McCall', 'Anu']

### List Exercise <br>
<p>Remove all duplicates<br><b>Extra: Create a program that will remove any duplicates from a given list</b></p>

In [119]:
names = ['connor', 'connor', 'bob', 'connor', 'evan', 'max', 'evan', 2, 2, 2, 3, 3, 4, 'bob', 'kevin']
# create new list to add items to

new_names = []
for name in names:
    if name not in new_names:
        new_names.append(name)
print(new_names)

['connor', 'bob', 'evan', 'max', 2, 3, 4, 'kevin']

### List Comprehensions <br>
<p>Creating a quickly generated list to work with<br>*result*  = [*transform*    *iteration*         *filter*     ]</p>

##### In a list comprehension we have a few pieces:
1. The first is the counter/ variable - IN this the variable is x
2. then we have a transform for the variable
3. The finale part of a list comp is called the condition

```python
    [variable, transform, condition]
```

In [122]:
nums = []
for i in range(100):
    nums.append(i)
print(nums)

nums_comp = [i**2 for i in range(100)]
print(f"nums_comp \n{nums_comp}")

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99]
nums_comp
[0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 100, 121, 144, 169, 196, 225, 256, 289, 324, 361, 400, 441, 484, 529, 576, 625, 676, 729, 784, 841, 900, 961, 1024, 1089, 1156, 1225, 1296, 1369, 1444, 1521, 1600, 1681, 1764, 1849, 1936, 2025, 2116, 2209, 2304, 2401, 2500, 2601, 2704, 2809, 2916, 3025, 3136, 3249, 3364, 3481, 3600, 3721, 3844, 3969, 4096, 4225, 4356, 4489, 4624, 4761, 4900, 5041, 5184, 5329, 5476, 5625, 5776, 5929, 6084, 6241, 6400, 6561, 6724, 6889, 7056, 7225, 7396, 7569, 7744, 7921, 8100, 8281, 8464, 8649, 8836, 9025, 9216, 9409, 9604, 9801]

There are a few benefits to using List comprehensions. The most obvious would be that we now have shorter code to work with instead of using 3+ lines of code in the for loop variant.

Another is an added benefit to memory usage. Since the list's memory is allocated first before adding elements to it, we don't have to resize the list once we add elements to it.

Lastly, list comprehensions are considered the "pythonic" way to write code by the PEP8 standards (Python Style Guide)

In [123]:
names = ["Edward", "Ese Men", "Bruh", "21", "Deez Nutz"]
first_char_comp = [name[0] for name in names]
print(first_char_comp)

['E', 'E', 'B']

In [133]:
# what if we need if statements???

four_letter_names = [name for name in names if len(name)!=4]
print(four_letter_names)

['Edward', 'Ese Men']

In [135]:
la = [1,2,3,4,5]
lb = ["A", "B", "C", "D"]

let_num = []
for num in la:
    for letter in lb:
        let_num.append(str(num)+letter)
print(let_num)

['1A', '1B', '1C', '1D', '2A', '2B', '2C', '2D', '3A', '3B', '3C', '3D', '4A', '4B', '4C', '4D', '5A', '5B', '5C', '5D']

In [136]:
let_num_comp = [f"{number}{letter}" for number in la for letter in lb]
let_num_comp

['1A',
 '1B',
 '1C',
 '1D',
 '2A',
 '2B',
 '2C',
 '2D',
 '3A',
 '3B',
 '3C',
 '3D',
 '4A',
 '4B',
 '4C',
 '4D',
 '5A',
 '5B',
 '5C',
 '5D']

In [143]:
# Exercise
names = ["steve", "susan", "jake", "troy"]
last_letter = [name[-1].upper() for name in names]
print(last_letter)

['E', 'N', 'E', 'Y']

### Tuples <br>
<p><b>Defined as an immutable list</b></p><br>Seperated by commas using parenthesis

In [145]:
t = 1,2,3
print(t, type(t))

(1, 2, 3) <class 'tuple'>

In [146]:
my_tup = ("Tim", "David", "Mike")
my_tup[1]

'David'

In [147]:
my_tup.index("Mike")

2

##### sorted()

In [151]:
sorted_tup = sorted(my_tup)
print(sorted_tup)

['David', 'Mike', 'Tim']

##### Adding values to a Tuple

In [ ]:
#Reconstruct the tuple and add values

## Functions

##### User-Defined vs. Built-In Functions

In [ ]:
def sayHello(name):
    print(f"Hello {name}")

##### Accepting Parameters

In [154]:
# Order matters
# A variable can be any type of object
def print_full_name(first, last):
    return f"{first.title()} {last.title()}"

first = input("Enter your first name: ")
last = input("Enter your last name: ")

print_full_name(first, last)

Enter your first name: jEsuS
Enter your last name: sANcheZ

'Jesus Sanchez'

##### Default Parameters

In [159]:
def print_agent_name(first, last="Bond"):
    print(f"Your agent name is {last}, {first} {last}")
print_agent_name("James")

Your agent name is Bond, James Bond

In [160]:
print_agent_name(last="sanchez", first="jesus")

Your agent name is sanchez, jesus sanchez

##### Making an Argument Optional

In [162]:
def make_name(first, middle="", last="Ed"):
    print(f"Hello {first} {middle} {last}")
make_name("Jesus")
make_name("Jesus", "F", "Sanchez")

Hello Jesus  Ed
Hello Jesus F Sanchez

In [165]:
def what_datatype():
    return 5/5
what_datatype()

1.0

##### Keyword Arguments

In [166]:
# *args and **kwargs
def my_func(*args):
    for arg in args:
        print(arg)
my_func(2,3,4,5,6,7,8)

2
3
4
5
6
7
8

In [168]:
def my_func(name, **kwargs):
    for key in kwargs:
        print(key, kwargs[key])
my_func("Jesus", height=66, weight=150, foods=["pizza", "burgers", "sushi"])

height 66
weight 150
foods ['pizza', 'burgers', 'sushi']

In [178]:
# exercise 2
def sum_of_nums(*args):
    print(sum(args))

sum_of_nums(1,2,3,4,7)

17

# Creating a start, stop, step function

In [181]:
def my_range(stop, start=0, step=1):
    for i in range(start, stop, step):
        print(i)
my_range(10, -10, 2)

-10
-8
-6
-4
-2
0
2
4
6
8

##### Returning Values

In [183]:
def my_sum(num1, num2):
    return num1 + num2
print(my_sum(1,2))

3

##### *args

In [ ]:
#stands for arguments, takes ANY number of arguments as parameters
#must be last if multiple parameters are presents

##### Docstring

##### Using a User Function in a Loop

## Function Exercise <br>
<p>Write a function that loops through a list of first_names and a list of last_names, combines the two and return a list of full_names</p>

In [197]:
first_name = ['John', 'Evan', 'Jordan', 'Max']
last_name = ['Smith', 'Smith', 'Williams', 'Bell']

# Output: ['John Smith', 'Evan Smith', 'Jordan Williams', 'Max Bell']

def full_names(first_name, last_name):
    full_list = []
    i = 0
    for i in range(len(first_name)):
        full_list.append(F"{first_name[i]} {last_name[i]}")
    print(full_list)
full_names(first_name, last_name)

['John Smith', 'Evan Smith', 'Jordan Williams', 'Max Bell']

## Scope <br>
<p>Scope refers to the ability to access variables, different types of scope include:<br>a) Global<br>b) Function (local)<br>c) Class (local)</p>

In [ ]:
#placement of variable declaration matters

# Exercises

## Exercise 1 <br>
<p>Given a list as a parameter,write a function that returns a list of numbers that are less than ten</b></i></p><br>
<p> For example: Say your input parameter to the function is [1,11,14,5,8,9]...Your output should [1,5,8,9]</p>

In [203]:
# Use the following list - [1,11,14,5,8,9]
list_of_nums = [1,11,14,5,8,9]

def less_than_ten(list_of_nums):
    nums = []
    for num in list_of_nums:
        if num < 10:
            nums.append(num)
    return nums
less_than_ten(list_of_nums)

[1, 5, 8, 9]

## Exercise 2 <br>
<p>Write a function that takes in two lists and returns the two lists merged together and sorted<br>
<b><i>Hint: You can use the .sort() method</i></b></p>

In [212]:
list1 = [1,11,14,5,8,9]
list2 = [3,5,7,2,9]

def merge_lists(list1, list2):
    return sorted(list1 + list2)

merge_lists(list1, list2)

[1, 2, 3, 5, 5, 7, 8, 9, 9, 11, 14]